@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg-dark {
  background-color: #121212;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

